<h1>Manage Occupations </h1>
<%= render(:partial => "_includes/notice") %>
<%= link_to 'Create a new occupation ', new_occupation_path, :class => 'createNew' %>
<%= render(:partial => "_includes/navadmin") %>
<table cellspacing="0" cellpadding="0" summary="List of occupations. ">
 <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

  <% for occupation in @occupations  %>
    <tr>
      <td><%=h occupation.name %></td>
      <td  class="actions"><%= link_to 'Edit', edit_occupation_path(occupation) %>
      <%= link_to 'Delete', occupation , :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %> 
</table>