<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN-NZ"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-nz" lang="en-nz">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Publishing DB</title>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'datePicker' %>
  <%= stylesheet_link_tag 'amsSelect' %>
  <%= javascript_include_tag 'jquery-1.2.6.pack.js' %>
  <%= javascript_include_tag 'date.js' %>
  <%= javascript_include_tag 'jquery.datePicker.js' %>
  <%= javascript_include_tag 'jquery.asmselect.js' %>
  <%= javascript_include_tag 'application.js' %>
  
</head>