<h1>Create a New Award</h1>
<%= render(:partial => "_includes/notice") %>
<%= render(:partial => "_includes/navadmin") %>
<% form_for(@award) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Award details</legend>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit "Create" %>
    </div>
  </fieldset>
<% end %>